ion-list {
  padding: 0;
}

.indent {
  margin-left: 12px;
}

ion-item {
  --padding-start: 36px;
  --padding-end: 36px;
  --padding-top: 2px;
  --padding-bottom: 2px;
  width: 100%;
}

.actingPlayer > ion-item::part(native) {
  background: var(--ion-color-light);
}
