<ion-header [translucent]="true" >
  <ion-toolbar [color]="climate">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-thumbnail slot="start" class="ion-hide-sm-up">
      <img [src]="'/assets/images/' + climate + '.png'"/>
    </ion-thumbnail> -->
    <ion-title class="ion-hide-sm-up">
      <!-- {{ climate | titlecase }} -->
      <!-- <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col> -->
            <ion-thumbnail style="display: block; margin: 0 auto; padding: 3px;">
              <img [src]="'/assets/images/' + climate + '.png'" [attr.alt]="climate"/>
            </ion-thumbnail>
          <!-- </ion-col>
        </ion-row>
      </ion-grid> -->
        <!-- <ion-label>{{ climate | titlecase }}</ion-label> -->
      <!-- </ion-item> -->
    </ion-title>

    <ion-segment class="ion-hide-sm-down" mode="ios" [(ngModel)]="climate" scrollable>
      <ion-segment-button value="bull">
        <ion-thumbnail class="small">
          <img [src]="'/assets/images/bull.png'"/>
        </ion-thumbnail>
      </ion-segment-button>
      <ion-segment-button value="stag">
        <ion-thumbnail class="small">
          <img [src]="'/assets/images/stag.png'"/>
        </ion-thumbnail>
      </ion-segment-button>
      <ion-segment-button value="lion">
        <ion-thumbnail class="small">
          <img [src]="'/assets/images/lion.png'"/>
        </ion-thumbnail>
      </ion-segment-button>
      <ion-segment-button value="bear">
        <ion-thumbnail class="small">
          <img [src]="'/assets/images/bear.png'"/>
        </ion-thumbnail>
      </ion-segment-button>
      <ion-segment-button value="peacock">
        <ion-thumbnail class="small">
          <img [src]="'/assets/images/peacock.png'"/>
        </ion-thumbnail>
      </ion-segment-button>
    </ion-segment>


    <ion-buttons slot="end" class="ion-hide-sm-up">
      <ion-button (click)="presentActionSheet()">
        CLIMATE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <!-- <app-standing [companyStanding]="companyStanding" (standingDidChange)="standingChange($event)"></app-standing> -->
    <!-- <app-climate [climate]="climate" (climateDidChange)="climateChange($event)"></app-climate> -->
    <!-- <app-phase [phase]="phase" (phaseDidChange)="phaseChange($event)"></app-phase> -->

    <ion-list lines="none">
      <ng-container *ngFor="let step of crownActions.steps">
        <ng-container *ngIf="(mode === step.mode) || !step.mode">
          <ion-item *ngIf="step.heading || step.action || step.description || step.note" [color]="step.actingPlayer ? 'light' : ''">
            <ion-label class="ion-text-wrap">
              <ion-text color="dark">
                <h2 *ngIf="step.heading">{{ step.heading | uppercase }}</h2>
                <h3 *ngIf="step.action">{{ step.action }}</h3>
                <p *ngFor="let description of step.description">{{ description }}</p>
                <p *ngIf="step.note"><i>{{ step.note }}</i></p>
              </ion-text>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="step.bullets">
            <ion-label class="ion-text-wrap">
              <ul>
                <li *ngFor="let bullet of step.bullets">
                  <ion-text color="dark"><p>{{ bullet }}</p></ion-text>
                </li>
              </ul>
            </ion-label>
          </ion-item>

          <app-promise *ngIf="step.promise" [promise]="step.promise"></app-promise>

          <ion-list *ngIf="step.climate" lines="full">
            <ng-container *ngFor="let crownClimate of step.climate[climate]">
              <ng-container *ngIf="(mode === crownClimate.mode) || !crownClimate.mode">
                <ion-item *ngIf="crownClimate.description">
                  <ion-label class="ion-text-wrap">
                    <ion-text color="dark">
                      {{ crownClimate.description }}
                    </ion-text>
                  </ion-label>
                  <ion-note *ngIf="crownClimate.note" slot="helper" class="ion-text-wrap">
                    <ion-text><i>{{ crownClimate.note }}</i></ion-text>
                  </ion-note>
                </ion-item>
                <ion-item *ngIf="crownClimate.numbered?.length">
                  <ion-label>
                    <ol>
                      <li *ngFor="let item of crownClimate.numbered" class="ion-text-wrap">
                        <p>{{ item }}</p>
                      </li>
                    </ol>
                  </ion-label>
                </ion-item>
                <app-promise *ngIf="crownClimate.promise" [promise]="crownClimate.promise"></app-promise>
              </ng-container>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>

    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousPhase()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ phase.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextPhase()">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
