<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>The Crown</ion-list-header>
          <ion-note>John Company 2nd Edition</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let climate of climates; let i = index">
            <ion-item lines="none" detail="false" (click)="selectedClimate(climate)" [color]="climate.selected ? climate.value : ''">
              <ion-thumbnail slot="start">
                <ion-img [src]="'/assets/images/' + climate.value + '.png'"></ion-img>
              </ion-thumbnail>
              <ion-label [color]="climate.selected ? 'dark' : 'light'">{{ climate.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
