/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.ion-color-bull {
  --ion-color-base: var(--ion-color-bull);
}

.ion-color-stag {
  --ion-color-base: var(--ion-color-stag);
}

.ion-color-lion {
  --ion-color-base: var(--ion-color-lion);
}

.ion-color-bear {
  --ion-color-base: var(--ion-color-bear);
}

.ion-color-peacock {
  --ion-color-base: var(--ion-color-peacock);
}

ion-thumbnail.small {
  --size: 36px;
  --border-radius: 3px;
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
